<%-
#app/views/layouts/posts.html.erb
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="generator" content="TextMate http://macromates.com/">
    <meta name="author" content="David Hines">
    <title>David Hines</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/nav_sheet.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/input_styles.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/tray.css" type="text/css"/>
    <script src="/javascripts/prototype.js" type="text/javascript" charset="utf-8"></script>
    <script src="public/javascripts/effects.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div id='wrap'>
      <div id='content-top'>
        <h1 id='main_title'><%= link_to "DAVID HINES", :controller => :posts %></h1>
      </div>
      <% if flash[:notice] %>
        <div id='errorSection' class='blogSection'>
          <h3><a href='javascript:void(0)' onclick="$('errorSection').hide()"> <img src="/images/icons/cancel.png"></a>Notice</h3>
          <div id='error'><%= flash[:notice] %></div>
        </div>
      <% end %>
      <div id='content-both'>
        <div id='content-left'>
          <%= yield %>
        </div>
        <div id='content-right'>
          <%= render :partial => 'shared/sidebar' %>
        </div>
      </div>
      <div id='content-bottom'>
          <%= render :partial => 'shared/footer' %>
      </div>
    </div>
    <%- if logged_in? %>
      <script type="text/javascript" src="/javascripts/ckeditor/ckeditor.js"</script>
    <% end %>
    <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
    <script type="text/javascript"  src="http://twitter.com/statuses/user_timeline/davidahines.json?callback=twitterCallback2&count=4"></script>
  </body>
</html>